<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="FF" content="Fire&Forget" />
    <title>你XX</title>
    <link
      rel="Shortcut Icon"
      href="/assets/imgs/favicon.ico"
      type="image/x-icon"
    />
    <script src="<%= htmlWebpackPlugin.options.assets.config_js %>"></script>
    <!-- <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_878391_z04vo2f0er9.css" /> -->
  </head>
  <body>
    <div id="root">
      <style>
        .landing {
          background-color: cornflowerblue;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }

        .content {
          position: absolute;
          top: 50%;
          left: 50%;
					margin: -1rem 0 0 -3rem;
        }

        .circle {
          background-color: #fff;
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
          display: inline-block;
        }

				.action1 {
					animation: circle-effect 1s 0s infinite linear;
				}
				.action2 {
					animation: circle-effect 1s -0.8s infinite linear;
				}
				.action3 {
					animation: circle-effect 1s -0.6s infinite linear;
				}

        @keyframes circle-effect {
          0%{
						transform: scale(.1,.1);
					}
					50%{
						transform: scale(1,1);
					}
					100% {
						transform: scale(.1,.1);
					}
        }
      </style>
      <div class="landing">
        <div class="content">
					<div class="circle action1"></div>
					<div class="circle action2"></div>
					<div class="circle action3"></div>
        </div>
      </div>
    </div>
  </body>
</html>
